* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

/* Share Style */
.yellow {
  color: #e95a08;
}

/* Navbar Styles */
.navbar {
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 40px;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav-menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #6c6c6c;
}

/* Home link style */
.nav-menu li:first-child a {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

/* Cart style */
.cart {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}

/* Banner Styles */
.banner {
  padding: 60px 0;
}
.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.banner-text h1 {
  font-size: 36px;
  font-weight: bold;
  color: #272727;
  margin-bottom: 20px;
}
.banner-text p {
  font-size: 16px;
  color: #5a5a5a;
}
.banner-image img {
  width: 100%;
  max-width: 500px;
}

/* Banar section */

/* Section Container */
.plants-section {
  padding: 60px 20px;
  margin-left: 90px;
  margin-right: 230px;
}

/* Header */
.plants-header {
  text-align: center;
  margin-bottom: 40px;
}

.plants-header h2 {
  font-size: 50px;
  color: #222;
  font-weight: 800;
  margin-bottom: 16px;
}

.plants-header p {
  font-size: 18px;
  color: #000000;
}

/* Grid Layout */
.plants-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

/* Individual Card */
.plant-card {
  background-color: #fff;
  text-align: center;
  height: 490px;
  width: 270px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.plant-card:hover {
  transform: translateY(-5px);
}

.plant-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.plant-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.plant-card .price {
  font-size: 22px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 15px;
}

.plant-card button {
  background-color: #e95a08;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  height: 50px;
  width: 270px;
  font-size: 16px;
}

.plant-card button:hover {
  background-color: #219150;
}

/* plant-lover-section */

.plant-lover-section {
  padding: 60px 20px;
}

.plant-lover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.plant-image-wrapper {
  position: relative;
  flex: 1 1 400px;
  max-width: 500px;
}

.plant-image-wrapper img.flower-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.plant-image-wrapper img.trusted-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
}

.plant-text {
  flex: 1 1 400px;
  max-width: 600px;
  text-align: left;
}

.plant-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.plant-text ul {
  list-style-type: disc;
  padding-left: 20px;
}

.plant-text ul li {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* join section */

.join-top {
  padding: 60px 20px 40px;
  text-align: center;
}

.join-header h2 {
  font-size: 50px;
  font-weight: 700;
  color: #272727;
}

.join-header p {
  font-size: 18px;
  color: #6d6d6d;
  max-width: 600px;
  margin: 20px auto 0;
  line-height: 1.6;
}

.deal-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.deal-box {
  position: relative;
  width: 360px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
}

.deal-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.right-column .tall {
  width: 750px;
  height: 425px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.deal-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.deal-text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.deal-text a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: underline;
  color: white;
}

.newsletter-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 530px;
  margin: 0 auto;
  overflow: hidden;
}

.newsletter-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.newsletter-overlay {
  position: absolute;
  height: 50px;
  width: 820px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
}

.newsletter-overlay h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  gap: 1px;
  justify-content: center;
  flex-wrap: wrap;
}

.newsletter-form input {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 640px;
}

.newsletter-form button {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #e95a08;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

/* Footer section */

.footer {
  max-width: 1440px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-description {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 50px;
  color: #555;
  cursor: pointer;
  margin-top: 30px;
}
.footer-icons {
  margin-top: 30px;
}
.footer-icons img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}

/* Mobile Responsive Design for max-width: 576px */
@media (max-width: 576px) {
  /*  Navbar */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .hide {
    display: none;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .cart {
    display: flex;
    align-items: center;
  }

  /* Banner */
  .banner-container {
    flex-direction: column;
    padding: 20px;
  }

  .banner-image {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }

  .banner-content {
    text-align: left;
  }

  /* Plant Lover Section */

  .plants-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 12px;
    justify-content: center;
    margin-left: 140px;
    box-sizing: border-box;
  }
  .plant-card {
    width: 100%;
  }
  .plant-card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .plant-lover {
    flex-direction: column;
    padding: 20px;
  }

  .plant-lover img {
    width: 100%;
    margin-bottom: 20px;
  }

  .plant-lover-content {
    text-align: left;
  }

  /* Join Section */
  .deal-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .left-column,
  .right-column {
    width: 100%;
    align-items: center;
  }

  .deal-box,
  .right-column .tall {
    width: 100%;
    max-width: 360px;
  }

  .deal-box {
    height: 200px;
  }

  .right-column {
    margin-left: 150px;
  }
  .right-column .tall {
    height: 425px;
  }

  .newsletter-overlay {
    width: 90%;
    padding: 10px;
  }

  .newsletter-overlay h2 {
    font-size: 28px;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-form input {
    width: 100%;
  }

  .newsletter-form button {
    width: 100%;
  }

  /*Footer Section */
  .footer {
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
  }
}
